{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {%endblock%}
    </title>
    <link href="{% static "base/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'wines:homepage' %}">Homepage</a>
        <a href="{% url 'wines:wine_list' %}">Lista de Vinhos</a>
        <a href="{% url 'grapes:grapes_list' %}">Lista de Uvas</a>
        <a href="{% url 'producers:producers_list' %}">Lista de Produtores</a>
        <div class="user-things">
            {% if request.user.is_authenticated %}
                <a href="{% url 'users:logout' %}">Log-out</a>
                <a href="{% url 'users:edit' %}">Editar Conta</a>
            {% else %}
                <a href="{% url 'users:login' %}">Log-in</a>
                <a href="{% url 'users:register' %}">Registro</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% block content %}
        {%endblock%}
    </div>
</body>
</html>