{% extends 'base.html' %}
{% block title %}Vinipedia: Homepage{% endblock %}

{% block content %}
<div class="homepage">
    <h1>Vinhos destacados:</h1>
    <div class="random-wines">
        {% for rwine in random_wines %}
            <div class="random-wine">
                <img src={{rwine.picture.url}} alt={{rwine.name}} />
                <h4>{{rwine.producer}}</h4>
                <a href={{rwine.get_absolute_url}}><h3>{{rwine.name}} {{rwine.get_type_display}} {{rwine.year}}</h3></a>
            </div>
        {% endfor %}
    </div>
    <h1>Vinhos mais visitados:</h1>
    <div class="most-visited-wines">
        {% for mwine in most_visited_wines %}
            <div class="most-visited-wine">
                <img src={{mwine.picture.url}} alt={{mwine.name}} />
                <h4>{{mwine.producer}}</h4>
                <a href={{mwine.get_absolute_url}}><h3>{{mwine.name}} {{mwine.get_type_display}} {{mwine.year}}</h3></a>
            </div>
        {% endfor %}
    </div>
    <h1>Vinhos visitados recentemente:</h1>
    <div class="recent-wines">
        {% if recent_wines %}
            {% for wine in recent_wines %}
                <div class="recent-wine">
                    <img src={{wine.picture.url}} alt={{wine.name}} />
                    <h4>{{wine.producer}}</h4>
                    <a href={{wine.get_absolute_url}}><h3>{{wine.name}} {{wine.get_type_display}} {{wine.year}}</h3></a>
                </div>
            {% endfor %}
        {% else %}
            <h1>Não tem nenhuns vinhos recentemente visitados, explore o website!</h1>
        {% endif %}
    </div>
</div>
{% endblock %}