<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}"><i class="fas fa-arrow-left"></i></a>
    {% endif %}
    <span class="current">
      Página {{ page.number }} de {{ page.paginator.num_pages }}
    </span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}"><i class="fas fa-arrow-right"></i></a>
    {% endif %}
  </span>
</div>