* {
    margin:0;
    padding:0;
}

html, body{
    background-color:#EADEDA !important;
}

div.navbar{
    background-color: #692626;
    box-shadow: 2pt 0pt 10pt black;
    margin-bottom: 2vh;
    display:block !important;
}

div.navbar > a, div.navbar > div.user-things > a{
    font-size:1.4rem;
    margin-left: 3rem;
}

a{
    color:black !important;
}

div.filters {
    float:right;
    margin-right:3rem;
    background-color:rgba(199, 199, 199, 0.356);
    padding: 1rem;
    border-radius:20pt;
    width:18vw;
}

div.filters > form {
    margin-bottom: 1rem;
}

div.filters > div.type_filter {
    height:13%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 2em;  
}
.type_filter :first-child {
    align-self: center;
}

div.filters > div.type_filter > a{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

div.wines, div.producers, div.grapes, div.search {
    margin-left: 2rem !important;
    height:85vh;
}

div.wine, div.producer, div.grape {
    width:70vw;
    height:25vh;
    background-color:rgba(199, 199, 199, 0.356);
    border-radius:20pt;
    padding:1.5rem;
    margin-bottom:2rem;
}

div.wine > img, div.producer > img, div.grape > img{
    width:17.5%;
    height:20vh;
    border-radius:20pt;
    border: 1px solid black;
    float:left;
    margin-right:2rem;
}

div.pagination {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.7rem;
}

div.wine-detail, div.producer-detail, div.grape-detail {
    margin-left: 2vw;
}

div.wine-detail > div.details, div.producer-detail > div.details, div.grape-detail > div.details {
    height: 40vh;
    margin-bottom:2vh;
}

div.wine-detail > div.details > img, div.producer-detail > div.details > img, div.grape-detail > div.details > img {
    float:left;
    height: 40vh;
    border-radius:20pt;
    border: 1px solid black;
    margin-right: 2vw;
}

img#user-image{
    width:60px;
    height:60px;
}

div.errorlist{
    display:none;
}

div.nonfield{
    display:block !important;
}

div.homepage img {
    width:10vw;
    height:20vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

div.homepage > div.random-wines, div.homepage > div.recent-wines, div.homepage > div.most-visited-wines {
    width:96%;
    background-color: rgba(199, 199, 199, 0.2);
    margin: 2%;
    border-radius:20pt;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align:center;
}

div.homepage > h1 {
    margin:2%;
}

div.random-wine, div.recent-wine, div.most-visited-wine {
    background-color: rgba(199, 199, 199, 0.5);
    padding:1rem;
    border-radius:20pt;
    width: 17.5vw;
    height:34vh;
}

div.user-forms {
    margin:2rem;
}