{% extends 'base.html' %}
{% block title %}Vinepedia: {{producer.name}}{% endblock%}

{% block content %}
    <div class="producer-detail">
        <div class="details">
            <h2 id="name">{{producer.name}}</h2>
            <h4>Endereço:</h4>
            <p>{{producer.address.street_name}} {{producer.address.number}}</p>
            <p>Código Postal: {{producer.address.postal_code}} {{producer.address.location}}</p>
            <h4>Descrição:</h4>
            <p>{{producer.description|linebreaks}}</p>
            <h2>Alguns dos vinhos produzidos por este produtor:</h2>
            {% for wine in producer.wines.all|slice:':4' %}
                <a href={{wine.get_absolute_url}} ><h3>{{wine.name}} {{wine.get_type_display}} {{wine.year}}</h3></a>
            {% endfor %}
            <h2>Fotos:</h2>
            {% for picture in producer.pictures.all|slice:':4' %}
                <img src={{picture.picture.url}} alt={{producer.name}} />
            {% endfor %}
        </div>
    </div>
{% endblock %}