{% extends 'base.html' %}
{% block title %} Vinipedia Producers List {% endblock %}

{%block content%}
    <div class="producers">
        {%for producer in producers%}
        <div class="producer">
            {% for picture in producer.pictures.all %}
                {% if forloop.first %}
                    <img src={{picture.picture.url}} alt={{producer.name}} />
                {% endif %}
            {% endfor %}
            <div class="text">
                <h2><a href={{producer.get_absolute_url}}>{{producer.name}}</a></h2>
                <h3>{{producer.address.location}}</h3>
                <h4>{{producer.website}}</h4>
            </div>
        </div>
        {%endfor%}
        {% include 'pagination.html' with page=producers %}
    </div>
{% endblock %}