{% extends "base.html" %}

{% block title %}Vinipedia:Conta{% endblock %}

{% block content %}
<div class="user-forms">
  <h1>Edite a sua conta</h1>
  <p>Consegue editar a sua conta a partir de este formulário:</p>
  <form method="post" enctype="multipart/form-data">
    <!--{{ user_form.as_p }}
    {{ profile_form.as_p }}-->
    <p><label for="id_first_name">Primeiro nome:</label> <input type="text" name="first_name" maxlength="150" id="id_first_name"></p>
    <p><label for="id_last_name">Último nome:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name"></p>
    <p><label for="id_email">Endereço de email:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
    <p>
      <label for="id_picture">Foto:</label> De momento: <a href="/media/default.jpg">default.jpg</a><br>
      Mudar:
      <input type="file" name="picture" accept="image/*" id="id_picture">
    </p>
    {% csrf_token %}
    <p><input type="submit" value="Guardar alterações"></p>
  </form>
</div>
{% endblock %}