{% extends "base.html" %}

{% block title %}Vinipedia:Registro{% endblock %}

{% block content %}
<div class="user-forms">
  <h1>Crie uma Conta</h1>
  <p>Por favor, crie uma conta seguindo o seguinte formulário:</p>
  <form method="post">
    <!--{{ user_form.as_p }}-->
      <p>
          <label for="id_username">Nome do usuário:</label>
          <input type="text" name="username" maxlength="150" required="" id="id_username">
          <span class="helptext">Necessita ter 150 caracteres ou menor. Letras, números e @/./+/-/_ são os únicos caracteres possíveis.</span>
      </p>
      <p>
          <label for="id_first_name">Primeiro nome:</label>
          <input type="text" name="first_name" maxlength="150" id="id_first_name">
      </p>
      <p>
          <label for="id_email">Endereço de email:</label>
          <input type="email" name="email" maxlength="254" id="id_email">
      </p>
      <p>
          <label for="id_password">Palavra-passe:</label>
          <input type="password" name="password" required="" id="id_password">
      </p>
      <p>
          <label for="id_password2">Repita a palavra-passe:</label>
          <input type="password" name="password2" required="" id="id_password2">
      </p>
    {% csrf_token %}
    <p><input type="submit" value="Criar a minha conta"></p>
  </form>
</div>
{% endblock %}
