{% extends "base.html" %}

{% block title %}Vinipedia:Bem-vindo{% endblock %}

{% block content %}
<div class="user-forms">
  <h1>Bem-vindo {{ new_user.first_name }}!</h1>
  <p>A tua conta foi criada com sucesso. Agora consegues <a href="{% url "users:login" %}">log in</a>.</p>
</div>
{% endblock %}