/*


npm install react-icons
npm install axios

    
    Color Palette:
    
    Wine:       #692626
    Pale Pink:  #EADEDA
    Text Black: #001011
    Text White: #FFFFFF

*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300&display=swap');
body {
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    color: #001011;
    font-family: 'Montserrat', sans-serif;
}

.App {
    margin: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #EADEDA;
    overflow: hidden;
    overflow-y: scroll;
}