{% extends "base.html" %}

{% block title %}Vinipedia:Logged out{% endblock %}

{% block content %}
<div class="user-forms">
  <h1>Logged out</h1>
  <p>
    Você foi desconnectado com sucesso.
    Pode <a href="{% url "users:login" %}">log-in de novo</a>.
  </p>
</div>
{% endblock %}
