{% extends "base.html" %}

{% block title %}Vinipedia:Log-in{% endblock %}

{% block content %}
<div class="user-forms">
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      O teu nome de utilizador e palavra-passe não correspondem.
      Por favor tenta de novo.
    </p>
  {% else %}
    <p>Por favor, utiliza o seguinte formulário para log-in. Se ainda não tiver uma conta, <a href="{% url "users:register" %}">registre-se aqui.</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'users:login' %}" method="post">
      <!--{{ form.as_p }}-->
        <p>
            <label for="id_username">Nome de usuário:</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
        </p>
        <p>
            <label for="id_password">Palavra-passe:</label>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </p>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
  </div>
</div>
{% endblock %}