@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.navbar {
    width: 100vw;
    height: 9vh;
    background-color: #692626;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
}

.navbar h2 {
    color: #FFF;
    vertical-align: middle;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    margin-left: 0.5rem;
}

.grapes {
    color: #FFF;
    font-size: 2rem;
    margin: auto;
    margin-right: 0;
}

.title {
    display: flex;
    margin: auto;
    padding-left: 15rem;
}

.Search {
    height: 50%;
    margin: auto 0;
    margin-right: 0.5rem;
    border-radius: 10px;
}

.Search-button {
    height: 50%;
    margin: auto 0;
    margin-right: 0.5rem;
    border-radius: 7.5px;
}