{% extends 'base.html' %}
{% block title %}Vinepedia: {{wine.name}}{% endblock%}

{% block content %}
    <div class="wine-detail">
        <div class="details">
            <img src={{wine.picture.url}} alt={{wine.name}} />
            <h3 id="producer"><a href={{wine.producer.get_absolute_url}} >{{wine.producer}}</a></h3>
            <h2 id="name">{{wine.name}} {{wine.get_type_display}} {{wine.year}}</h2>
            <h4 id="region">Portugal | {{wine.region}}</h4>
            {% if wine.score %}
                <h4>{{wine.score}}/5.0 <i class="far fa-star"></i></h4>
            {% else %}
                <h4>Sem Avaliações</h4>
            {% endif %}
            <p>Teor alcoólico: {{wine.alcohol_percentage}}</p>
            <p>Uvas: {% for grape in wine.grapes.all %} <a href={{grape.get_absolute_url}}>{{grape.get_name_display}}</a> {% endfor %}</p>
            <h4>Descrição:</h4>
            <p>{{wine.description|linebreaks}}</p>
        </div>
        <div class="wine-evaluations">
            <h1>Avaliações:</h1>
            {% for evaluation in evaluations %}
                <h2>Avaliação {{forloop.counter}}, por {{evaluation.user.username}}, no dia {{ evaluation.created|date:"d/m/Y"}}</h2>
                <img id="user-image" src={{evaluation.user.profile.picture.url}} />
                <h4>{{evaluation.score}}/5.0 <i class="far fa-star"></i></h4>
                <p>{{evaluation.description}}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <div id="evaluation-form">
                <form method="POST">
                    {% csrf_token %}
                    <!--{{ evaluation_form.as_p }}-->
                    {% if evaluation_form.errors %}
                        <h3>Erro na avaliação:</h3>
                        <p>{{evaluation_form.non_field_errors}}</p>
                    {% endif %}
                    <p>
                        <label for="id_description">Descrição:</label>
                        <textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea>
                    </p>
                    <p>
                        <label for="id_score">Avaliação:</label>
                        <input type="number" name="score" required="" id="id_score">
                    </p>
                    <p><input type="submit" value="Adicionar avaliação"></p>
                </form>
            </div>
            {% else %}
            <h1>Precisa de estar autenticado para criar uma avaliação</h1>
        {% endif %}
        </div>
    </div>
{% endblock %}