{% extends 'base.html' %}
{% load wines_tags %}
{% block title %} Vinipedia Wines List {% endblock %}

{%block content%}
    <div class="wines">
        <div class="filters">
            {% search_bar %}
            <h3>Tipos de vinho:</h3>
            <div class="type_filter">
                <a href="{% url "wines:wine_per_type" "tinto" %}">Tinto</a>
                <a href="{% url "wines:wine_per_type" "branco" %}">Branco</a>
                <a href="{% url "wines:wine_per_type" "verde" %}">Verde</a>
                <a href="{% url "wines:wine_per_type" "verde branco" %}">Verde Branco</a>
                <a href="{% url "wines:wine_per_type" "verde tinto" %}">Verde Tinto</a>
                <a href="{% url "wines:wine_per_type" "do Porto" %}">Do Porto</a>
                <a href="{% url "wines:wine_per_type" "rosé" %}">Rosé</a>
                <a href="{% url "wines:wine_per_type" "espumante" %}">Espumante</a>
            </div>
        </div>
        {%for wine in wines%}
        <div class="wine">
            <img src={{wine.picture.url}} alt={{wine.name}} />
            <div class="text">
                <h4><a href={{wine.producer.get_absolute_url}}>{{wine.producer}}</a></h4>
                <h2><a href={{wine.get_absolute_url}}>{{wine.name}} {{wine.get_type_display}} {{wine.year}}</a></h2>
                <h3>{{wine.region}}</h3>
                {% if wine.score %}
                    <h4>{{wine.score}}/5.0 <i class="far fa-star"></i></h4>
                {% else %}
                    <h4>Sem Avaliações</h4>
                {% endif %}
            </div>
        </div>
        {%endfor%}
        </div>
    {% include 'pagination.html' with page=wines %}
{% endblock %}
