{% extends "base.html" %}
{% load wines_tags %}

{% block title %}Vinipedia: Lista de Vinhos{% endblock %}

{% block content %}
<div class="search">
    <h1>Vinhos procurados com: "<em>{{query}}</em>"</h1>
    <div class="filters">
      {% search_bar %}
    </div>
    {% for wine in results %}
        <div class="wine">
            <img src={{wine.picture.url}} alt={{wine.name}} />
            <div class="text">
                <h4>{{wine.producer}}</h4>
                <h2><a href={{wine.get_absolute_url}}>{{wine.name}} {{wine.get_type_display}} {{wine.year}}</a></h2>
                <h3>{{wine.region}}</h3>
            </div>
        </div>
    {%endfor%}
    {% include 'pagination.html' with page=results %}
</div>
{% endblock %}