{% extends 'base.html' %}
{% block title %}Vinepedia: {{grape.name}}{% endblock%}

{% block content %}
    <div class="grape-detail">
        <div class="details">
            <img src={{grape.picture.url}} alt={{grape.name}} />
            <h2 id="name">{{grape.get_name_display}}</h2>
            <h4 id="region">Portugal | {{grape.region}}</h4>
            <h4>Descrição:</h4>
            <p>{{grape.description|linebreaks}}</p>
            <h2>Alguns dos vinhos que utilizam estas uvas:</h2>
            {% for wine in grape.wines.all|slice:':4' %}
                <a href={{wine.get_absolute_url}} ><h3>{{wine.name}} {{wine.get_type_display}} {{wine.year}}</h3></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}