{% extends 'base.html' %}
{% block title %} Vinipedia Grapes List {% endblock %}

{%block content%}
    <div class="grapes">
        {%for grape in grapes%}
        <div class="grape">
            <img src={{grape.picture.url}} alt={{grape.name}} />
            <div class="text">
                <h2><a href={{grape.get_absolute_url}} >{{grape.get_name_display}}</a></h2>
                <h3>{{grape.description}}</h3>
            </div>
        </div>
        {%endfor%}
        {% include 'pagination.html' with page=grapes %}
    </div>
{% endblock %}
